@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@Model.Code Error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <partial name="AdminLTE/_Styles" />
</head>
<body class="hold-transition login-page" style="background: white!important;">
    <div class="login-box" style="width:600px!important;">
        <div class="login-logo">
            <a href="https://codewithmukesh.com">Error <b>@Model.Code</b>!</a>
        </div>
        <!-- /.login-logo -->
        <p class="login-box-msg">@Model.Message</p>
        <!-- /.login-card-body -->
        <div style="text-align: -webkit-center;">
            <p class="mb-1">
                <a class="btn btn-danger" href="javascript:history.back()">Go Back</a>
            </p>
            <br />
            <small style="font-size:15px">
                Made with <span style="color: #e25555;">&hearts;</span> by <a href="http://codewithmukesh.com">codewithmukesh</a>.
            </small>
        </div>
    </div>
    <partial name="AdminLTE/_Scripts" />
</body>
</html>