@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>

</div>
<h4>Here is your dashboard</h4>
<p></p>