
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<div class="d-sm-flex align-items-center justify-content-between">
    <h1 class="h3 mb-0 text-gray-800">@ViewData["Title"]</h1>
</div>
<h6>@ViewData["Caption"]</h6>
<p></p>