<div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-default close-button" data-dismiss="modal">Cancel</button>
    <button type="submit" class="btn btn-primary save-button">Save</button>
</div>
