@using AspNetCoreHero.Web.Areas.ProductCategories.ViewModels
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model ProductCategoryViewModel
<form id="create-form" method="post" asp-area="ProductCategories" asp-route-id="@Model.Id" asp-page-handler="CreateOrEdit" onsubmit="return jQueryModalPost(this);" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-md-3 col-form-label">@localizer["Name"]</label>
                <div class="col-md-9">
                    <input type="text" asp-for="Name" name="Name" class="form-control">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Rate</label>
                <div class="col-md-9">
                    <input type="number" asp-for="Tax" name="Tax" class="form-control" />
                    <span asp-validation-for="Tax" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                </div>
            </div>
        </div>
    </div>

    <div class="form-group justify-content-between" style="margin-bottom: 0px !important">
        <button type="submit" class="btn btn-success">Save</button>
        <button type="submit" class="btn btn-default close-button" data-dismiss="modal">Cancel</button>

    </div>

</form>
<script type="text/javascript" language=javascript>
    $.validator.unobtrusive.parse(document);
</script>